@keyframes WarAnimation{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes dummyBoardEnter {
    0%
    {
        transform: translateX(1000px);
    }
    
    100%
    {
        transform: translate(500px);
    }
}

@keyframes dummyBoardPulse {
    0% , 100%{
        box-shadow: 0 0 0 0 rgba(52 , 152 , 219 , 0.7);
        transform: rotate();
    }

    50%{
        box-shadow: 0 0 0 10px rgba(52 , 152 , 219,0);
    }
}

@keyframes cellsToggleColor {
    0%
    {
        background-color: #FFA500;
    }

    100%{
        background-color: #00D407;
    }
}

@keyframes showOperationPanel{
    0%{
        transform: translateX(-1000px);
    }

    100%{
        transform: translateY(0);
    }
}

@keyframes hideOperationPanel{
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-1000px);
    }
}


.showOperationPanel{
    animation: showOperationPanel 400ms ease-in-out forwards;
}

.hideOperationPanel{
    animation: hideOperationPanel 400ms ease-in-out forwards;
}