@keyframes WarAnimation{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes dummyBoardEnter {
    0%
    {
        transform: translateX(1000px);
    }
    
    100%
    {
        transform: translate(500px);
    }
}

@keyframes dummyBoardPulse {
    0% , 100%{
        box-shadow: 0 0 0 0 rgba(52 , 152 , 219 , 0.7);
        transform: rotate();
    }

    50%{
        box-shadow: 0 0 0 10px rgba(52 , 152 , 219,0);
    }
}

@keyframes cellsToggleColor {
    0%
    {
        background-color: #FFA500;
    }

    100%{
        background-color: #00D407;
    }
}

@keyframes showOperationPanel{
    0%{
        transform: translateX(-1000px);
    }

    100%{
        transform: translateY(0);
    }
}

@keyframes hideOperationPanel{
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-1000px);
    }
}

@keyframes showOperationMessage{
    0%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes hideOperationMessage{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-50px);
    }
}

@keyframes operationMessageBar {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

@keyframes logoAppear {
    0%{
        transform: translateX(-1000px);
    }
    50%{
        transform: translateX(20px);
    }
    100%{
        transform: translateX(0px);
    }
    
}

@keyframes hideInformationSection{
    0%{
        transform: translate(0);
    }
    100%{
        transform: translateX(-800px);
    }
}

@keyframes showInformationSection{
    0%{
        transform: translate(-800px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes hidePlaySection{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(800px);
    }
}

@keyframes showPlaySection{
    0%{
        transform: translateX(800px);
    }
    100%{
        transform: translateX(0);
    }
}

.showPlaySection{
    animation: showPlaySection 400ms ease-in-out forwards;
}

.hidePlaySection{
    animation: hidePlaySection 400ms ease-in-out forwards;
}

.hideInformationSection{
    animation: hideInformationSection 400ms ease-in-out forwards;
}

.showInformationSection{
    animation: showInformationSection 400ms ease-in-out forwards;
}

.operationMessageBar{
    animation: operationMessageBar 800ms ease-in-out forwards;
}

.showOperationMessage{
    animation: showOperationMessage 400ms ease-in-out forwards;
}

.hideOperationMessage{
    animation: hideOperationMessage 400ms ease-in-out forwards;
}

.showOperationPanel{
    animation: showOperationPanel 400ms ease-in-out forwards;
}

.hideOperationPanel{
    animation: hideOperationPanel 400ms ease-in-out forwards;
}

