*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* html + body */
html{
    height: 100%;
}

body{
    min-height: 100vh;
    width: 100%;
    background-color: white;
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 20px;  
}

h1{
    font-family: monospace;
    text-transform: uppercase;
    font-size: 1.3rem;
}

form{
    background-color: rgb(206, 206, 206);
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border-radius: .55rem;
    box-shadow: 5px 5px 0px 0px black;
}

form > .row{
    width: 200px;
}

.row > input{
    width: 100%;
    height: 35px;
    padding: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px solid black;
    border-radius: .55rem;
    box-shadow: 0px 2px 0px 0px black;
}

.row > input:focus{
    outline: none;
}

button{
    width: 100px;
    height: 35px;
    background-color: white;
    border: transparent 2px solid;
    border-radius: .55rem;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    transition: ease-in 400ms;
}

button:hover{
    transform: scale(1.03);
    border: black 2px solid;
}

.logo
{
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    width: 50px;
    height: 50px;
    animation: logoAppear ease-in-out forwards 900ms;
}