@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --logo-font: "Bangers", system-ui;
    --gameplay-font : "Roboto", sans-serif;
    --green: #00D407;
    --orange:#FFA500 ;
}

html{
    height: 100%;
}

body{
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    padding: 0px 100px;

}

/* General Styles */
.orange{
    color: #ff4500;
}

.green{
    color: #00D407;
}

/* Header */
header{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    width: auto;
}

.logo > img
{
    height: 55px;
    width: 55px;
}

.logo > .logo-text
{
    color: black;
    font-family: var(--logo-font);

}

.logo > .logo-text > .warText
{
    position: relative;
    animation: WarAnimation ease-in-out forwards 400ms;
    opacity: 0;
    display: inline-block;
}

nav > .socials
{
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.socials > li{
    cursor: pointer;

}

.socials > li > img{
    transition: ease-in-out 500ms;
}

.socials > li:hover > img{
    transform: scale(1.1);
}

main{
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
    gap: 30px;

}

.game-buttons
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.game-buttons > button{
    width: 185px;
    height: 45px;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 1.5rem;
    border: none;
    color: white;
    font-family: var(--gameplay-font);
    transition: ease-in-out 500ms;
    box-shadow: 0px 0px 50px 0px transparent;
}

.game-buttons > button:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 20px 0px rgba(128, 128, 128, 0.605);

}

.game-buttons > #startGameBtn
{
    background-color: var(--orange);
}

.game-buttons > #howToPlayBtn
{
    background-color: var(--green);
}

.dummy-board
{
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(5 , auto);
    grid-template-rows: repeat(5 , auto);
    gap: 2px;
    background-color: white;
    border-top: 10px solid #00D407;
    border-bottom: 10px solid #00D407;
    border-right: 10px solid #FFA500;
    border-left: 10px solid #FFA500;
}

.cell
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all ease-in 400ms;
    font-family: monospace;
    font-size: 1.5rem;
    border: 1px solid black;
}

.cell:hover{
    transform: scale(1.03);
    animation: cellsToggleColor 1s ease-in-out infinite;
}